# ***monDTC.service***
[Unit]
Description=Servicio de obtención de DTC de un vehículo y envío a servidor remoto
After=multi-user.target

[Service]
Type=simple
ExecStart=/RUTA-AL-DIRECTORIO-DE-DESCARGA-GITHUB/obd2-bluetooth/monDTC
User=USUARIO-DEL-SISTEMA
RestartSec=10
WorkingDirectory=/RUTA-AL-DIRECTORIO-DE-DESCARGA-GITHUB/obd2-bluetooth
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
