# ***Obd2-bluetooth.service***
[Unit]
Description=Servicio de conexión bluetooth con el protocolo OBD2
After=multi-user.target

[Service]
Type=simple
ExecStart=/RUTA-AL-DIRECTORIO-DE-DESCARGA-GITHUB/obd2-bluetooth/main
User=USUARIO-DEL-SISTEMA
RestartSec=10
WorkingDirectory=/RUTA-AL-DIRECTORIO-DE-DESCARGA-GITHUB/obd2-bluetooth
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
